<!--@subject {{trans "How was your order #%increment_id?" increment_id=$incrementId}} @-->
{{template config_path="design/email/header_template"}}

<p class="f-fallback">{{trans "Hi %customer," customer=$customer}}</p>
<p class="f-fallback">{{trans "According to our records, your order #%increment_id has been delivered." increment_id=$incrementId}}</p>
<p class="f-fallback">{{trans "We would love to hear what you think! Sharing your experience only takes a minute and helps us and other customers."}}</p>

{{layout handle="review_reminder_template" shipmentId=$shipmentId}}

<p class="f-fallback">{{trans "Not satisfied or ran into a problem?"}} <a href="{{var complainUrl}}">{{trans "Contact us"}}</a> {{trans "and we will find a suitable solution."}}</p>

{{template config_path="design/email/footer_template"}}
